#root {
  text-align: center;
  padding-top: 30px;
}

body {
  margin: 0;
}

a {
  margin: 30px;
  text-underline-offset: 4px;
}

hr {
  width: 90vw;
  margin: auto !important;
}

.link-inactive {
  text-decoration: none;
  color: green;
}

.link-active {
  text-decoration: underline;
  color: darkgoldenrod;
  font-weight: bold;
}


nav {
  padding-top: 20px;  
}

nav button {
  margin-bottom: 10px;
}
nav svg {
  width: 20px;
  height: 20px;
}

button {
  padding: 6px;
}

.logout-button{
  border: none;
  background: none;
}