#root {
  text-align: center;
}

body {
  margin: 0;
}

a {
  margin: 30px;
  text-underline-offset: 4px;
}

hr {
  width: 90vw;
}

.link-inactive {
  text-decoration: none;
  color: green;
}

.link-active {
  text-decoration: underline;
  color: darkgoldenrod;
  font-weight: bold;
}

.dark-page {
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  min-height: 100vh;
}

.light-page {
  background-color: rgb(255, 240, 240);
  color: rgb(44, 44, 44);;
  min-height: 100vh;
}

nav {
  padding-top: 20px;
}

nav button {
  margin-bottom: 10px;
}

button {
  padding: 6px;
}

.dark-btn {
  background-color: rgb(120, 120, 120);
  color: darkgoldenrod
}

.light-btn {
  background-color: rgb(172, 172, 172);
  color: brown;
}